<center><h3> </h3></center>
 <table class='table table-bordered'>
		<tr class='info'>
		  <th><center>CARNET</center></th>
		  <th><center>NOMBRE(S)</center></th>
		  <th><center>APELLIDO(S)</center></th>
		  <th></th>
		  <th></th>
		  <th></th>
		  <th></th>
		  <th></th>
		  <th></th>
		</tr>

		<% @empleados.each do |empleado| %>
		  <tr class='active'>
		    <td><center><%= empleado.ci %></center></td>
		    <td><center><%= empleado.nombre %></center></td>
		    <td><center><%= empleado.apellido %></center></td>
		    <td><a href="/edit/<%= empleado.ci %>"><center>Editar</center></a></td>
		    <td><a href="/show/<%= empleado.ci %>"><center>Mostrar</center></a></td>
		    <td><a href="/delete/<%= empleado.ci %>"><center>Eliminar</center></a></td>
		  	<% if empleado.tipo_salario == 'hora' %>
		  	<td><a href="/timecard/<%= empleado.ci %>"><center>Asignar Tarjeta de tiempo</center></a></td>
		  	<% else %>
		  	<td></td>
		  	<% end %>
		  	<% if empleado.pertenece_sindicato %>
		  	<td><a href="/servicecard/<%= empleado.ci %>"><center>Asignar Tarjeta de servicio</center></a></td>
		  	<% else %>
		  	<td></td>
		  	<% end %>
		  	<%if !empleado.en_archivo %>
		  	<td><a href="/save_archive/<%= empleado.ci %>"><center>Guardar en archivo</center></a></td>
		  	<%else%>
		  	<td></td>
		  	<% end %>
		  </tr>
		<% end %>
	</table>
	<center><a href="/checks">Generar Cheques Para Nomina de Emplados</a></center>
