<h1>Empleado</h1>
<p>
	<b>Ci:</b>
	<%= @empleado.ci %>
</p>

<p>
	<b>Nombre:</b>
	<%= @empleado.nombre %>
</p>

<p>
	<b>Apellido:</b>
	<%= @empleado.apellido %>
</p>

<p>
	<b>Fecha inicio contrato:</b>
	<%= @empleado.fecha_inicio_contrato %>
</p>

<p>
	<b>Tipo de contrato:</b>
	<%= @empleado.contrato %>
</p>
	
<p>
	<b>Salario:</b>
	<%= @empleado.salario%>
</p>